.gradient-background {
  background: linear-gradient(160deg, #090040, #471396, #B13BFF);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  background-repeat: no-repeat;
  color: #f5f5f5;
}


.vinyl-disc-top-left {
    position: fixed;
    top: -200px;         
    left: -200px;        
    width: 500px;      
    opacity: .4;
    z-index: -1;
    animation: spin 10s linear infinite;
    transition: transform 0.4s ease, opacity 0.4s ease;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.main-header {
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.main-header .nav-link {
    color: #fff;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.main-header .nav-link:hover {
    background-color: #690083; 
    color: #fff;
}

.main-header .nav-link.active {
    background-color: #690083;
    color: #fff;
}

.music-card {
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.05);
  transition: transform 0.2s ease;
}

.music-card:hover {
  transform: scale(1.01);
}

.music-img img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.music-player {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  padding: 10px 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.music-player-card {
  background: linear-gradient(145deg, #1a0033, #30055f);
  border: none;
  border-radius: 12px;
  color: #fff;
  box-shadow: 0 0 15px rgba(177, 59, 255, 0.2);
}

.music-player-card .card-title {
  color: #ffffff;
  font-weight: bold;
}

.music-player-card .card-text {
  color: #ccc;
}

.progress-bar {
  background-color: #B13BFF;
}

.btn-outline-light {
  border: none;
  color: #B13BFF;
}

.btn-outline-light:hover {
  background-color: #B13BFF;
  color: #fff;
}

.btn-success {
  background-color: #B13BFF;
  border-color: #B13BFF;
}

.btn-success:hover {
  background-color: #a02be5;
  border-color: #a02be5;
}
